body {
	background-color: black;
	overflow: hidden;
	margin: 0px;
}

canvas {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.sideNav {
	padding: 10px;
	position: absolute;
	z-index: 9;
	width: 30%;
	height: 100%;
	background-color: #fff;
	overflow: auto;
	box-shadow: 2px 2px 3px #888888;
}

.open {
	/*transform: translateX(0%);*/
	animation-name: sidenavAnimOpen;
	animation-duration: .3s;
}

.closed {
	transform: translateX(-100%);
	animation-name: sidenavAnimClose;
	animation-duration: .3s;
}

.electron {
	color: red;
}

.proton {
	color: blue;

}

@keyframes sidenavAnimOpen {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes sidenavAnimClose {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

.setting {
	display: flex;
	justify-content: center;
	align-content: center;
}

#sideNav {
	font-size: 16px;
	font-family: 'Roboto' sans-serif;
	font-style: normal;
	font-weight: 300;
}

.stats-table {
	overflow-x: auto;
}

.stats-table table thead tr th {
	line-height:1; 
	white-space:nowrap;
}

.mobile-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
}

.mobile-buttons button {
	margin: 2px;
}
